body{
    background-color: black;
}

.david_picture{
   margin-left: 480px;
   margin-bottom: 30px;
   width: 300px;

}


.kuyakorea_logo{
    width: 440px;
}

.david-img{
  margin-left: 170px;
  margin-bottom: 70px;
  margin-top: 70px;
 
}

.david_text{
   margin-top: 110px;
}